@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Montserrat:wght@300;400;500;600&display=swap");

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}


.App {
  background-image: url("./assets/background.jpeg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  margin: 0 auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.input {
  margin-top: 2rem;
}

.search_bar {
  padding: 1rem;
  width: 500px;
  border-radius: 2rem;
  border: 2px solid white;
  background-color: rgba(231, 231, 231, 0.4);
  color: black;
}

::placeholder {
  color: black;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  min-height: 250px;

}

.location {
  font-size: 3rem;
}

.temp, .description, .bottom {
  font-size: 1.6rem;
}


.bottom {
  display: flex;
  gap: 1rem;
  border: 1px solid white;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 4rem;
}

.feels_like p, .humidity p, .wind p {
  margin: 0.5rem 0rem;
}
.feels_like , .humidity, .wind {
  font-weight: 500;
}

.feels, .humid, .wind_speed {
  font-weight: 200;
}


@media screen and (max-width: 600px) {
  .App {
    height: 100vh;
  }
  .search_bar {
    width: 300px;
  }
  .top {
    height: auto;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}